li > a {
  &.active {
    color: #69b986;
    border-radius: 5px;
  }

  &:hover {
    background-color: #69b986;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.70);
  }
}

form {
  input.form-control {
    &:focus {
      border-color: #69b986;
      box-shadow: 0 0 0 0.2rem rgba(105, 185, 134, 0.51);
    }
  }

  span {
    color: rgba(255, 255, 255, 0.70);
  }

  strong {
    color: #69b986;
  }

  .btn-link, .btn-outline-secondary {
    &:hover {
      background-color: #69b986;
      border-radius: 5px;
      color: rgba(255, 255, 255, 0.70);
    }
  }
}
