div {
  &.card {
    max-height: 460px;
    min-height: 460px;
  }
}

i {
  cursor: pointer;
}

.position-relative:hover .position-absolute {
  opacity: 1 !important;
}

.synopsis-overlay {
  opacity: 0;
  transition: opacity 0.3s ease;
}
